<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Template 03</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        font-family: "Noto Sans", sans-serif;
      }
    </style>
  </head>
  <body class="bg-gray-100 flex justify-center min-h-screen">
    <div class="bg-white shadow-lg rounded-lg  w-full max-w-[600px]">
      <div class="font-bold text-center mt-8 text-4xl">LOGO</div>
      <div class="font-bold text-center mt-14 text-4xl">Email Template</div>
      <img class="mx-auto mt-8" src="/Assets/Screen1/first1.svg" />
      <div class="text-center mx-14 text-lg mt-8">
        Boost your emails with Blush! Create dope emails easy and fast! Install
        the Blush plugin to customize all the illustrations!
      </div>
      <div class="flex justify-center mt-4">
        <button
          class="bg-white border focus:bg-gray-100 text-sm border-black rounded-md py-2 px-4 transition-transform duration-150 active:scale-95"
        >
          Try it now!
        </button>
      </div>

      <div class="flex justify-center mt-16 px-10">
        <img src="/Assets/Screen1/first2.svg" />
        <div class="flex-col my-auto mx-2 space-y-2">
          <div class="font-bold text-2xl">Customize this email template!</div>
          <div class="font-normal text-lg">
            Boost your emails with Blush! Create dope emails easy and fast!
          </div>
          <div class="flex mt-4">
            <button
              class="bg-white border focus:bg-gray-100 text-sm border-black rounded-md py-2 px-4 transition-transform duration-150 active:scale-95"
            >
              Try it now!
            </button>
          </div>
        </div>
      </div>

      <div class="flex justify-center mt-16 px-10">
        <div class="flex-col my-auto mx-2 space-y-2">
          <div class="font-bold text-2xl">Customize this email template!</div>
          <div class="font-normal text-lg">
            Boost your emails with Blush! Create dope emails easy and fast!
          </div>
          <div class="flex mt-4">
            <button
              class="bg-white border focus:bg-gray-100 text-sm border-black rounded-md py-2 px-4 transition-transform duration-150 active:scale-95"
            >
              Try it now!
            </button>
          </div>
        </div>
        <img src="/Assets/Screen1/first3.svg" />
      </div>

      <div class="flex justify-center space-x-8 mt-16 px-10">
        <img src="/Assets/Screen1/first4.svg" />
        <div class="flex-col my-auto mx-2 space-y-2">
          <div class="font-bold text-2xl">Customize this email template!</div>
          <div class="font-normal text-lg">
            Boost your emails with Blush! Create dope emails easy and fast!
          </div>
          <div class="flex mt-4">
            <button
              class="bg-white border focus:bg-gray-100 text-sm border-black rounded-md py-2 px-4 transition-transform duration-150 active:scale-95"
            >
              Try it now!
            </button>
          </div>
        </div>
      </div>

      <div class="mx-6 ml-9 mt-8 font-normal text-lg">
        Boost your emails with Blush! Create dope emails easy and fast! Install
        the Blush plugin to customize all the illustrations!
      </div>
      <div class="mx-6 ml-9 mt-8 font-normal text-lg">
        Create the coolest emails!
      </div>

      <!-- Footer -->

      <div class="mt-8 mb-4 text-sm text-center flex-col">
        <img class="mx-auto" src="/Assets/line.svg" />

        <div class="mt-10">Corporation</div>
        <div class="mx-24">
          You are receiving this email because you opted in via our website.
        </div>

        <div class="flex justify-center space-x-8 mt-4">
          <img src="/Assets/twitter.svg" />
          <img src="/Assets/instagram.svg" />
          <img src="/Assets/youtube.svg" />
          <img src="/Assets/dribble.svg" />
          <img src="/Assets/linkedin.svg" />
        </div>

        <div class="w-24 mt-6 mx-auto">Address, #PC City, State.</div>
        <div class="w-24 mt-2 underline mx-auto">Unsubscribe</div>
        <div class="w-24 mt-6 text-2xl font-bold mx-auto">LOGO</div>
      </div>
    </div>
  </body>
</html>